{% extends 'base.html' %}

{% block content %}
<div class="root">
    <div class="title-container">
        <header>
            <div class="title">
                <h2>Arduino Based GPS Tracker</h2>
            </div>
            <div class="title-authors">
                <h3>Done By: Shruthi Balaji & Bhaarathi Natarajan</h3>
            </div>
        </header>
    </div>
    <div class="options-container">
        <nav>
            <ul class="option-list">
                <div class="option-1">
                    <li><a href="#">project description</a></li>
                </div>
                <div class="option-2">
                    <li><a href="vehicle_track">vehicle tracking</a></li>
                </div>
                <div class="option-3">
                    <li><a href="#">fencing with GPS</a></li>
                </div>
                <div class="option-4">
                    <li><a href="#">safety systems</a></li>
                </div>
            </ul>
        </nav>
    </div>
</div>

</div>
{% endblock content %}